body,
html {
  background: #02050a;
  color: #fdfaf5;
  height: 100%;
  background-position: center;
  background-size: cover;
  height: 100%;
  overflow: visible;
}

.container {
  background: #02050a;
  height: 100%;
  position: relative;
  --border: 1px solid #fdfaf5;
  overflow: visible;
}

.center {
  background: #02050a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  --border: 3px solid #1b3557;
  overflow: visible;
}

#ahammer {
  width: 96px;
  height: 96px;
  position: absolute;
  -webkit-animation: rotation 0.3s infinite linear;
  transform-origin: bottom left;
  --border: 3px solid;
  --right: -96px;
  z-index: 1;
}

#bcroc {
  width: 96px;
  height: 96px;
  position: relative;
  -webkit-animation: smack 0.3s infinite linear;
  transform-origin: bottom center;
  --object-position: 28px 28px;
  float: right;
  overflow: visible;
  overflow-x: auto;
  overflow-y: auto;
  right: -39.5px;
  top: 24.5px;
  z-index: 0;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(32.5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
#ahammer:before {
  content: "";
  position: absolute;
}
#ahammer:after {
  content: "";
  position: absolute;
}

@-webkit-keyframes smack {
  from {
    -webkit-transform: scaleY(1);
  }
  90% {
    -webkit-transform: scaleY(0.75);
  }
  to {
    -webkit-transform: scaleY(1);
  }
}
#bcroc:before {
  content: "";
  position: absolute;
}
#bcroc:after {
  content: "";
  position: absolute;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #4288a6;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: 0.45125s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a2640;
  transition: 0.45125s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #556a73;
  transition: 0.45125s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #69a5bf;
  transition: 0.45125s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
}

footer {
  font-family: "Aroa;", Helvetica, sans-serif;
  text-align: center;
  padding: 3px;
  background-color: #182433;
  color: #fdfaf5;
}
